body {
    background: #00D4FF;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 202, 249, 1) 100%);
    color: white;
    background-clip: text;

}

h1 {
background: #ede8e8;
background: linear-gradient(90deg, rgba(237, 232, 232, 1) 0%, rgba(195, 195, 224, 1) 47%, rgba(187, 184, 204, 1) 77%, rgba(247, 245, 245, 1) 100%);
    text-align: center;
    background-clip: text;
    color: transparent;
    font-weight: 900;
}

form {
    width: 500px;
    margin: 0px auto;
}

fieldset {
    border: 3px solid white;
    border-radius: 15px;
}

div>fieldset:hover:first-of-type {
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

div>fieldset:hover:nth-of-type(2) {
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

input+p {
    display: none;
}

input:hover+p {
    display: inline;
    background-color: black;
    color: white;
    font-size: 15px;
}

input:hover {
    background-color: darkgrey;
    border: 2px solid black;
}

textarea {
    resize: none;
}
input[type="email"] ~ img{
    display: none;
   
}

input[type="email"]:focus:invalid ~ img#wrong{
    display: inline;
    height: 15px;
    width: 15px;
}
input[type="email"]:focus:valid ~ img#correct{
    display: inline;
    height: 15px;
    width: 15px;
}

input[type="number"] ~ img{
    display: none;
   
}
input[type="number"]:focus:valid ~ img#correct{
    display: inline;
    height: 15px;
    width: 15px;
}
input[type="number"]:focus:invalid ~ img#wrong{
    display: inline;
    height: 15px;
    width: 15px;
}
